binddn=dc=example,dc=com
bindpw=secret
host=localhost
port=389
# max connections:
max=10
# TLS and LDAPS must not be used simulataneously:
tls=false
ldaps=false
trust.store=truststore.jks
trust.store.pw=changeit
trust.store.classpath=true
org.apache.directory.lem.User=ou=people,dc=example,dc=com
org.apache.directory.lem.Group=ou=groups,dc=example,dc=com