binddn=dc=example,dc=com
bindpw=secret
host=localhost
port=389
max=10
users=ou=people,dc=example,dc=com
users.object.class=inetOrgPerson
groups=ou=groups,dc=example,dc=com
groups.object.class=groupOfMembers
member.attr=member
# TLS and LDAPS must not be used simulataneously:
tls=false
ldaps=false
trust.store=truststore.jks
trust.store.pw=changeit
trust.store.classpath=true
